<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    {% block meta_specific %}
    {% endblock %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    {% if not session['logged_in'] %}    
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>          
    {% endif %}
  </ul>
  {% if session['logged_in'] %}   
  <ul class="navbar-nav ml-auto">
    <li class="nav-item text-light">
      Welcome {{session['name']}}
    </li>         
  </ul>  
  {% endif %}

</nav>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
